<div class="panel panel-default" id="headings">
  <div class="panel-heading">検索結果</div>
  <div class="panel-body">
    <h2>「<%= params[:q] %>」の検索結果</h2>
    <ul>
      <% @pages.each do |page| %>
        <li><a href="<%= page.to_url %>"><strong><%= page.title %></strong></a></li>
      <% end %>
    </ul>
  </div>
</div>
