<div class="card border-primary" id="headings">
  <div class="card-header">TOP</div>
  <div class="card-body">
    <h3>About Wikin</h3>
    <div class="card-text">
      <p>wikiっぽいものです. 以下の特徴があります.</p>
      <ul>
        <li>Markdown記法対応</li>
        <li><a href="https://github.com/y-yagi/WikinClient" target="_blank">専用のAndroidアプリ</a></li>
      </ul>
    </div>
  </div>
</div>
