<div class="card border-primary" id="headings">
  <div class="card-header">最近更新されたページ</div>
  <div class="card-body">
    <% @recently_updated_pages.each do |date, pages| %>
      <strong><%= date %></strong>
      <% pages.each do |page| %>
        <div class="mb-2"><%= page.link %></div>
      <% end %>
    <% end %>
  </div>
</div>
