<div class="panel panel-default" id="headings">
  <div class="panel-heading">TOP</div>
  <div class="panel-body">
    <h3>About Wikin</h3>
    <p>wikiっぽいものです. 以下の特徴があります.</p>
    <ul>
      <li>Markdown記法対応</li>
      <li><a href="https://github.com/y-yagi/WikinClient" target="_blank">専用のAndroidアプリ</a></li>
    </ul>
  </div>
</div>
