<div class="panel panel-default" id="headings">
  <div class="panel-heading">全ページ</div>
  <div class="panel-body">
    <ul>
      <% @pages.to_a.sort_by(&:full_title).each do |page| %>
        <li><a href="<%= page.to_url %>"><strong><%= page.full_title %></strong></a></li>
      <% end %>
    </ul>
  </div>
</div>
