<div class="card border-primary" id="headings">
  <div class="card-header">アーカイブページ</div>
  <div class="card-body">
    <div class="card-text">
      <ul>
        <% @pages.each do |page| %>
          <li><%= link_to(page.title, page) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
