<div class="panel panel-default" id="headings">
  <div class="panel-heading">アーカイブページ</div>
  <div class="panel-body">
    <ul>
      <% @pages.each do |page| %>
        <li><%= link_to(page.title, page) %></li>
      <% end %>
    </ul>
  </div>
</div>
