<% flash.each do |type, msg| %>
  <div class="col-lg-12">
    <div class="alert alert-<%= type %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= msg.html_safe %>
    </div>
  </div>
<% end %>
